Repository fedoratastic/meshtasticd, changes with the owners that CODEOWNERS names for each.
All owners: @esev, @meshtastic/devops, @meshtastic/core, @meshtastic/packaging, @meshtastic/hardware

Neopixel madness! Portduino Edition
  arch/portduino/portduino.ini
  src/platform/portduino/PortduinoGlue.cpp
  src/platform/portduino/PortduinoGlue.h
  variants/betafpv_2400_tx_micro/variant.h
  variants/esp32-s3-pico/variant.h
  variants/heltec_hru_3601/variant.h
  variants/heltec_mesh_node_t114/variant.h
  variants/my_esp32s3_diy_eink/variant.h
  variants/my_esp32s3_diy_oled/variant.h
  variants/nugget_s2_lora/variant.h
  variants/nugget_s3_lora/variant.h
  variants/portduino/variant.h
  variants/radiomaster_900_bandit/variant.h
Owners: none

UDP Error handling via Jorropo
  arch/portduino/portduino.ini
Owners: none

meshtasticd: CH341 / HAT+ Auto Configuration
  bin/config.d/lora-Adafruit-RFM9x.yaml
  src/platform/portduino/PortduinoGlue.cpp
  src/platform/portduino/PortduinoGlue.h
Owners: none

Upgrade trunk
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk to 1.22.12
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Setup RenovateBot
  .github/dependabot.yml
  arch/esp32/esp32.ini
  arch/esp32/esp32c6.ini
  arch/esp32/esp32s2.ini
  arch/esp32/esp32s3.ini
  arch/nrf52/nrf52.ini
  arch/nrf52/nrf52840.ini
  arch/portduino/portduino.ini
  arch/rp2xx0/rp2040.ini
  arch/rp2xx0/rp2350.ini
  arch/stm32/stm32.ini
  platformio.ini
  renovate.json
Owners: @meshtastic/devops, @meshtastic/core

Setup RenovateBot
  .github/dependabot.yml
  arch/esp32/esp32.ini
  arch/esp32/esp32c6.ini
  arch/esp32/esp32s2.ini
  arch/esp32/esp32s3.ini
  arch/nrf52/nrf52.ini
  arch/nrf52/nrf52840.ini
  arch/portduino/portduino.ini
  arch/rp2xx0/rp2040.ini
  arch/rp2xx0/rp2350.ini
  arch/stm32/stm32.ini
  platformio.ini
  renovate.json
Owners: @meshtastic/devops, @meshtastic/core

renovate: Link PIO deps to PlatformIO page
  renovate.json
Owners: none

Upgrade trunk
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Build and deploy event firmwares
  .github/workflows/main_matrix.yml
Owners: none

meshtasticd: GeoClue support
  .devcontainer/Dockerfile
  alpine.Dockerfile
  arch/portduino/portduino.ini
  debian/control
  meshtasticd.spec.rpkg
  src/platform/portduino/PortduinoGlue.cpp
  src/platform/portduino/PortduinoGlue.h
Owners: @meshtastic/packaging

Upgrade trunk to 1.22.15
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk to 1.22.15
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk to 1.22.15
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk to 1.25.0
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk to 1.25.0
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk to 1.25.0
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk to 1.25.0
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk to 1.25.0
  .trunk/trunk.yaml
Owners: @meshtastic/devops

Upgrade trunk to 1.25.0
  .trunk/trunk.yaml
Owners: @meshtastic/devops

CODEOWNERS:

# People marked here will be automatically requested for a review
# when the code that they own is touched.

# Teams:
# @meshtastic/core
# @meshtastic/devops
# @meshtastic/hardware
# @meshtastic/packaging

# Fuzzer
.clusterfuzzlite/* @esev

# DevOps stuff
.devcontainer/* @meshtastic/devops
.github/* @meshtastic/devops
.trunk/* @meshtastic/devops
.vscode/* @meshtastic/devops
.gitpod.yml @meshtastic/devops
CODEOWNERS @meshtastic/devops

# Build Scripts
bin/* @meshtastic/devops

# Source code
arch/* @meshtastic/core
extra_scripts/* @meshtastic/core
monitor/* @meshtastic/core
src/* @meshtastic/core
test/* @meshtastic/core
partition-table.csv @meshtastic/core
platformio.ini @meshtastic/core
userPrefs.jsonc @meshtastic/core

# Linux - Debian
debian/* @meshtastic/packaging

# Linux - Docker
.dockerignore @meshtastic/packaging
*.env* @meshtastic/packaging
*Dockerfile* @meshtastic/packaging
docker-compose.yml @meshtastic/packaging

# Linux - Fedora
*.rpkg @meshtastic/packaging
rpkg.conf @meshtastic/packaging

# Variant hell
boards/* @meshtastic/hardware
variants/* @meshtastic/hardware
